@model WebCK.Models.BookingForm



<div style="height:50px"></div>

<div class="row">
	<div class="col-7" style="float:left; padding-left:30px">
		<div class="form-group">
			<h2>Billing Details</h2>
			<label>Tên: </label>
			<br />
			<input class="form-control" value="@Model.FullName" readonly />
			<br />
			<label>Tuổi: </label>
			<br />
			<input class="form-control" value="@Model.Age" readonly />
			<br />
			<label>Phone: </label>
			<br />
			<input class="form-control" value="@Model.PhoneNumber" readonly />
			<br />
			<label>Số người: </label>
			<br />
			<input class="form-control" value="@Model.NumberOfGuests" readonly />
			<br />
			<label>Ngày đến: </label>
			<br />
			<input class="form-control" value="@Model.CheckInDate" readonly />
			<br />
			<label>Ngày đi: </label>
			<br />
			<input class="form-control" value="@Model.CheckOutDate" readonly />
			<br />
			<a asp-action="ThanhToan" class="btn btn-primary" asp-route-formId="@Model.Id">Thanh Toán</a>
		</div>
	</div>
	

	</div>

</div>


<div style="height:50px"></div>
