@model WebCK.Models.DepositBill



<div style="height:50px"></div>

<div class="row">
	<div class="col-7" style="float:left; padding-left:30px">
		<div class="form-group">
			<h2>Thông tin đặt phòng</h2>
			<label>Tên: </label>
			<br />
			<input class="form-control" value="@ViewBag.Form.FullName" readonly/>
			<br />
			<label>Tuổi: </label>
			<br />
			<input class="form-control" value="@ViewBag.Form.Age" readonly />
			<br />
			<label>Phone: </label>
			<br />
			<input class="form-control" value="@ViewBag.Form.PhoneNumber" readonly />
			<br />
			<label>Số người: </label>
			<br />
			<input class="form-control" value="@ViewBag.Form.NumberOfGuests" readonly />
			<br />
			<label>Ngày đến: </label>
			<br />
			<input class="form-control" value="@ViewBag.Form.CheckInDate" readonly />
			<br />
			<label>Ngày đi: </label>
			<br />
			<input class="form-control" value="@ViewBag.Form.CheckOutDate" readonly />
		</div>
	</div>
	@*can viet them phuong thuc post de thanh toan *@

	<div class="col-5" style="padding-right:5px; padding-left:10px">
		<form method="post" enctype="multipart/form-data">
			<div class="row">
				<div class="col-4"></div>
				<div class="col-8">
					<div class="row">
						<div class="col-8">
							<h2>Hóa đơn</h2>
						</div>
						<div class="col-4"></div>
						<hr>
						@* <div class="col-6"><h2>@ViewBag.Form.Room?.RoomName</h2></div>
						<div class="col-6"><h2>Total</h2></div> *@
						<div class="col-6">
							<p><b>Giá thuê</b></p>
						</div>
						<div class="col-6">
							<p><b>@ViewBag.Form.BookingFee</b></p>
						</div>
						<div class="col-6">
							<p><b>Tiền cọc</b></p>
						</div>
						<div class="col-6">
							<p><b>@ViewBag.Form.Deposit</b></p>
						</div>
						<div class="col-6">
							<p><b>Phải thanh toán</b></p>
						</div>
						<div class="col-6">
							<p><b>@ViewBag.Form.Deposit</b></p>
						</div>
						@* <div class="col-6">
							<p>SubTotal</p>
						</div>
						<div class="col-6">
							<p>@(ViewBag.Form.BookingFee - ViewBag.Form.Deposit)</p>
						</div> *@
						<div class="col-6">
							<p><b>Tổng cộng</b></p>
						</div>
						<div class="col-6">
							<p><b><u>@ViewBag.Form.Deposit</u></b></p>
						</div>
						<br />
						<button class="btn btn-primary" type="submit">Xác nhận</button>
					</div>
				</div>
			</div>
		</form>

	</div>

</div>


<div style="height:50px"></div>
