@model WebCK.Models.Room
<body>
    <h2>@Model.RoomName</h2>
    <div>
        <h3>Price: @Model.Price</h3>
        <p>@Model.Description</p>
        @if (!string.IsNullOrEmpty(Model.Image))
        {
            <img src="@Model.Image" style="max-width:200px;" />
        }
    </div>
    <button asp-controller="BookingForm" asp-action="Add" asp-route-roomId="@Model.Id">Đặt phòng</button>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</body>