@model IEnumerable<WebCK.Models.Room>
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.7/css/dataTables.dataTables.css" />
<script src="https://cdn.datatables.net/2.0.7/js/dataTables.js"></script>
<body>
    <div class="container">
        <h2 style="text-align:center">Quản lý phòng</h2>
        <a asp-controller="Room" asp-action="Add" class="btn btn-secondary">Thêm phòng</a>
        <table id="bangphong" class="display">
            <thead style="background-color: gray; color: white">
                <tr>
                    <th style="max-width: 80px">Hình ảnh</th>
                    <th>Tên phòng</th>
                    <th>Giá thuê</th>
                    <th>Loại phòng</th>
                    <th style="max-width: 450px">Chức năng</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var room in Model)
                {
                    <tr>
                        <td style="max-width:80px"><img src="@room.Image" style="height:50%; width:50%" /></td>
                        <td>@room.RoomName</td>
                        <td>@room.Price</td>
                        <td>@room.Category?.CategoryName</td>
                        <td>
                            <a asp-action="Update" asp-route-id="@room.Id" class="btn btn-danger">Edit</a> |
                            <a asp-action="Delete" asp-route-id="@room.Id" class="btn btn-dark">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.7/css/dataTables.dataTables.css" />

<script src="https://cdn.datatables.net/2.0.7/js/dataTables.js"></script>


<script type="text/javascript">
    var js = jQuery.noConflict(true);
    js(document).ready(function () {
        js('#bangphong').DataTable({
            "language": {
                "sProcessing": "Đang xử lý...",
                "sLengthMenu": "Xem _MENU_ mục",
                "sZeroRecords": "Không tìm thấy dòng nào phù hợp",
                "sInfo": "Đang xem _START_ đến _END_ trong tổng số _TOTAL_ mục",
                "sInfoEmpty": "Đang xem 0 đến 0 trong tổng số 0 mục",
                "sInfoFiltered": "(được lọc từ _MAX_ mục)",
                "sInfoPostFix": "",
                "sSearch": "Tìm:",
                "sUrl": "",
                "oPaginate": {
                    "sFirst": "Đầu",
                    "sPrevious": "Trước",
                    "sNext": "Tiếp",
                    "sLast": "Cuối"
                }
            }
        });
    });
</script>


@* <body>
    <section class="room-area r-padding1">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8">
                    <!--font-back-tittle  -->
                    <div class="font-back-tittle mb-45">
                        <div class="archivment-front">
                            <h3>Our Rooms</h3>
                        </div>
                        <h3 class="archivment-back">Our Rooms</h3>
                    </div>
                    <a asp-action="Add" class="btn btn-primary">Thêm phòng</a>
                    <hr />
                </div>
            </div>
            <div class="row">
                @foreach (var room in Model)
                {
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <!-- Single Room -->
                        <div class="single-room mb-50">
                            <div class="room-img">
                                <a asp-action="Display"><img src="@room.Image" alt=""></a>
                            </div>
                            <div class="room-caption">
                                <h3><a asp-action="Display">@room.RoomName</a></h3>
                                <div class="per-night">
                                    <span>@room.Price<u>đ</u><span>/ per night</span></span>
                                </div>
                                <a asp-action="Display" asp-route-id="@room.Id">View</a> |
                                <a asp-action="Update" asp-route-id="@room.Id">Edit</a> |
                                <a asp-action="Delete" asp-route-id="@room.Id">Delete</a>
                                <a asp-controller="BookingForm" asp-action="Add" asp-route-RoomId="@room.Id" class="btn btn-primary">Book Now</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="row justify-content-center">
                <div class="room-btn pt-70">
                    <a href="#" class="btn view-btn1">View more  <i class="ti-angle-right"></i> </a>
                </div>
            </div>
        </div>

    </section>
</body> *@